<%- include('../partials/header.ejs') %>

<div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <% drugs.forEach(drug => { %>
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="#" class="bg-placeholder-img card-img-top">
                            <img style="width:100%" src="<%= drug.drugImage %>" alt="<%= drug.drugName %>">
                        </a>
                        <div class="card-body">
                            <p>약품 명: <%= drug.drugName %></p>
                            <p>약품 카테고리: <%= drug.drugCategory %></p>
                            <p>복약 방법: <%= drug.drugDose %></p>
                            <p>주의사항: <%= drug.drugCaution %></p>
                        </div>
                    </div>
                </div>
            <% }) %>
        </ul>
    </div>
</div>

<%- include('../partials/footer.ejs') %>